
<div class="hero-unit">
  <h1>Hot Loading!</h1>
  <p>All you need to do to redraw this page is edit app/home.handlebars
  and save it in your editor. No refresh. No reload.</p>
  <p>
    <a class="btn btn-primary btn-large" href='https://github.com/wballard/streamer'>
      Learn more
    </a>
  </p>
</div>
